body{
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(248, 248, 95);
} 
#tittle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 130px;
    background-color:rgb(216,224,226);
    width: 300px;
    margin-left: 500px;
  
}

#color{
    margin-top: 0px;
    background-color: rgb(216,224,226);
}
#top{
    border: 1px solid black;
    width: 300px;
    height: 430px; 
    border-radius: 10px;
    box-shadow: 2px 5px 15px 5px;
}
#maindis{
    border: 1px solid black;
    height: 100px;
    background-color: rgb(165,186,203);
    border-radius: 10px;
}
#display{
    /* border: 1px solid black; */
    height: 60px;
    width: 250px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 12px 4px;
    background-color: rgb(209,220,186);
}

#num1{
   display: flex;
   justify-content: space-around; 
  margin-top: 30px;
   
 }
 #num2{
   
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
 }
 #num3{
   
   display: flex;
   justify-content: space-around;
   margin-top: 10px;
 }
 #num4{
  
   display: flex;
   justify-content: space-around;
   margin-top: 10px;
 }
 #num5{
    
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

 }
 #numbers1{
   width: 50px;
   text-align: center;
   background-color:rgb(125,153,172);
   height: 40px;
   line-height: 37px;
   color: white;
   font-weight: bolder;
   font-size: x-large;
   border-radius: 20px;
   

 }
 #numbers2{
    width: 50px;
    text-align: center;
    background-color: white;
    background-color:rgb(125,153,172);
    height: 40px;
    border-radius: 20px;
     line-height: 37px;
     color: white;
     font-weight: bolder;
     font-size: x-large;
  }
  #numbers3{
    width: 50px;
    text-align: center;
    height: 40px;
    border-radius: 20px;
    background-color:rgb(125,153,172);
     line-height: 37px;
     color: white;
     font-weight: bolder;
     font-size: x-large;
  }
  #numbers4{
   
    width: 50px;
    color: white;
    font-weight: bolder;
    font-size: x-large;
    height: 40px;
    border-radius: 20px;
    line-height: 37px;
    text-align: center;
   background-color: rgb(50, 77, 94);
   
  }
  #numbers5{
    width: 50px;
    text-align: center;
    height: 40px;
    line-height: 37px;
     border-radius: 20px;
    margin-top: 10px;
    background-color:rgb(125,153,172);

     color: white;
     font-weight: bolder;
     font-size: x-large;
  }
  #numbers6{
    width: 50px;
    text-align: center;
    margin-top: 10px;
    height: 40px;
    line-height: 37px;
     border-radius: 20px;
    background-color:rgb(125,153,172); 
     color: white;
     font-weight: bolder;
     font-size: x-large;
  }
  #numbers7{
    width: 50px;
    text-align: center;
    margin-top: 10px;
    background-color:rgb(125,153,172);
    height: 40px;
    line-height: 37px;
     border-radius: 20px;
     color: white;
     font-weight: bolder;
     font-size: x-large;
  }
  #numbers8{

    width: 50px;
    text-align: center;
    margin-top: 10px;
    height: 40px;
    line-height: 37px;
     border-radius: 20px;
     color: white;
     font-weight: bolder;
     font-size: x-large;
     background-color: rgb(50, 77, 94);

  }

  #numbers9{
    width: 50px;
    margin-top: 10px;
    text-align: center;
    height: 40px;
    line-height: 37px;
     border-radius: 20px;
    background-color: rgb(125,153,172);
    color: white;
    font-weight: bolder;
    font-size: x-large;
  }
  #numbers10{
    width: 50px;
    text-align: center;
    height: 40px;
    line-height: 37px;
     border-radius: 20px;
    margin-top: 10px;
    background-color: rgb(125,153,172);
    color: white;
    font-weight: bolder;
    font-size: x-large;
  }
  #numbers11{
    height: 40px;
    line-height: 37px;
     border-radius: 20px;
    width: 50px;
    text-align: center;
    background-color:rgb(125,153,172);
    margin-top: 10px;
    color: white;
    font-weight: bolder;
    font-size: x-large;
  }
  #numbers12{
    width: 50px;
    text-align: center;
    margin-top: 10px;
    height: 40px;
    line-height: 37px;
     border-radius: 20px;
    color: white;
    font-weight: bolder;
    font-size: x-large;
    background-color: rgb(50, 77, 94);
  }
  #numbers13{
    width: 50px;
    text-align: center;
    margin-top: 10px;
    background-color: rgb(50, 77, 94);
    height: 40px;
    line-height: 37px;
     border-radius: 20px;
    color: white;
    font-weight: bolder;
    font-size: x-large;
  } 
  #numbers14{
    width: 50px;
    text-align: center;
    background-color: rgb(125,153,172);
    margin-top: 10px;
    color: white;
    font-weight: bolder;
    font-size: x-large;
    height: 40px;
    line-height: 37px;
     border-radius: 20px;
  }
  #numbers15{
    width: 50px;
    text-align: center;
    margin-top: 10px;
    height: 40px;
    line-height: 37px;
     border-radius: 20px;
     color: white;
    background-color:rgb(253,129,3) 
  }
  #numbers16{
    width: 50px;
    background-color: rgb(50, 77, 94);
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
     border-radius: 20px;
     color: white;
     font-weight: bolder;
     font-size: x-large;
    text-align: center;
   
  }
  #numbers17{
   
   height: 40px;
   line-height: 37px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    color: white;
    background-color: rgb(253,129,3)
  }
 